.Rproj.user
.Rhistory
.RData
.Ruserdata
comercio_crudo.cpg
comercio_crudo.prj
comercio_crudo.qpj
comercio_crudo.dbf
comercio_crudo.shp
comercio_crudo.shx
corredores_lineales_modif.cpg
corredores_lineales_modif.dbf
corredores_lineales_modif.prj
corredores_lineales_modif.qpj
corredores_lineales_modif.shp
corredores_lineales_modif.shx
data.Rds
rsconnect/
shiny_establecimientos_restricted.Rproj
zonas_comerciales.geojson